body{
   background-color: rgb(249, 247, 254);
   font-family:"Roboto Slab", serif;
}
.weather-app{
    background-color:white;
    max-width: 600px;
    margin:45px auto;
    padding:30px;
    box-shadow:rgba(65, 50, 100, 0.08) 0px 30px 50px ;
    border-radius: 16px;

}